{% comment %}
  Renders the add to cart button

  Accepts:
  - product: {Object} Product object
  - is_select_options: {Boolean} Show select options. Default: true (optional)
  - is_bundle: {Boolean} Is bundle. Default: false (optional)
  - is_tooltip: {Boolean} Show tooltip. Default: true (optional)

  Usage:
  {% render 'action-cart-add', product: product, is_tooltip: true, is_bundle: false, is_select_options: true %}
{% endcomment %}

{% liquid
  assign is_tooltip = is_tooltip | default: true, allow_false: true
  assign is_select_options = is_select_options | default: true, allow_false: true
  assign is_bundle = is_bundle | default: false
  assign combined_listing_count = product.options_with_values | map: 'values' | map: 'product_url' | compact | size
  assign quick_view_text = 'products.product.quick_view' | t

  capture add_cart_text
    render 'add-to-cart-text', product: product, is_select_options: is_select_options, is_bundle: is_bundle
  endcapture
%}

{% capture button_content %}
  <div class="xo-add-to-cart__icon focus-inset" aria-label="{{ add_cart_text }}">
    {% render 'button-icon', size: 'sm', style: 'primary', type: 'circle', icon: 'add-cart', icon_size: '1.7rem', effect: 'rotate' %}
  </div>
{% endcapture %}

{% capture content %}
  {% if is_tooltip %}
    <xo-tooltip
      xo-mobile-disabled
      xo-title="{{ add_cart_text }}"
      xo-placement="top-center"
      class="tooltip{% if settings.enable_border_radius %} tooltip--radius{% endif %}"
    >
      {{ button_content }}
    </xo-tooltip>
  {% else %}
    {{ button_content }}
  {% endif %}
{% endcapture %}

{% if product != blank %}
  {% if product.variants.size > 1 and is_select_options or product.variants.size > 1 and is_bundle %}
    {% liquid
      if combined_listing_count > 0
        assign product_handle = product.selected_or_first_available_variant.product.handle
        assign product_url = shop.url | append: '/products/' | append: product_handle | append: '/?section_id=quick-view-content'
        if is_bundle
          assign product_url = shop.url | append: '/products/' | append: product_handle | append: '/?section_id=quick-view-content-bundle'
        endif
      else
        assign product_url = shop.url | append: '/products/' | append: product.handle | append: '/?section_id=quick-view-content'
        if is_bundle
          assign product_url = shop.url | append: '/products/' | append: product.handle | append: '/?section_id=quick-view-content-bundle'
        endif
      endif
    %}
    <xo-product-quick-view-trigger
      xo-modal-name="quick-view"
      class="xo-add-to-cart w-full"
      xo-product-url="{{ product_url }}"
      tabindex="0"
      role="button"
      aria-label="{{ quick_view_text }}"
    >
      {{ content }}
    </xo-product-quick-view-trigger>
  {% else %}
    {% if is_bundle %}
      <xo-bundle-add
        class="xo-add-to-cart w-full"
        {% if product.selected_or_first_available_variant.available == false %}
          xo-disabled
        {% endif %}
      >
        {{ content }}
      </xo-bundle-add>
    {% else %}
      <xo-cart-add
        class="xo-add-to-cart"
        {% if product.selected_or_first_available_variant.available == false %}
          xo-disabled
        {% endif %}
      >
        {{ content }}
      </xo-cart-add>
    {% endif %}
    <div
      class="xo-add-to-cart xo-add-to-cart--unavailable"
      {% if product.selected_or_first_available_variant.available == false %}
        xo-disabled
      {% endif %}
      xo-unavailable-text="{{ 'products.product.unavailable' | t }}"
    >
      {{ content }}
    </div>
  {% endif %}
{% endif %}
