<div>
  {%- if item.original_line_price != item.final_line_price -%}
    <dl class="m-0">
      <dt class="m-0">
        <span class="xo-visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
      </dt>
      <dd class="regular-price m-0">
        <s>{{ item.original_line_price | money }}</s>
      </dd>
      <dt class="m-0">
        <span class="xo-visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
      </dt>
      <dd class="m-0">
        <span>{{ item.final_line_price | money }}</span>
      </dd>
    </dl>
  {%- else -%}
    {{ item.original_line_price | money }}
  {%- endif -%}
</div>
