{% comment %}
  Renders a promo banner

  Accepts:
  - sub_title: {String} Sub title (optional)
  - label: {String} Label (optional)
  - discount_value: {String} Discount value (optional)
  - button: {Object} Button (optional)
  - desktop_image: {Object} Desktop image (required)
  - aspect_ratio_desktop: {String} Aspect ratio (optional)
  - mobile_image: {Object} Mobile image (required)
  - aspect_ratio_mobile: {String} Aspect ratio (optional)
  - color_schema: {String} Color schema (optional)

  Usage:
  {% render 'promo-banner',
    sub_title: sub_title,
    label: label,
    discount_value: discount_value,
    button: button,
    desktop_image: desktop_image,
    aspect_ratio_desktop: aspect_ratio_desktop,
    mobile_image: mobile_image,
    aspect_ratio_mobile: aspect_ratio_mobile,
    color_schema: color_schema
  %}
{% endcomment %}

<div class="promo-banner{% if settings.enable_border_radius %} promo-banner--radius{% endif %}">
  <div class="promo-banner__content{% if color_schema %} color-{{ color_schema }}{% endif %}" style="--opacity: {{ background_overlay }};">
    <a href="{{ button.button_link }}" class="promo-banner__link" title="{{ button.button_text }}">
      <div class="promo-banner__image promo-banner__image--desktop">
        {% render 'animate-image', image: desktop_image, border_radius: 0, aspect_ratio: aspect_ratio_desktop, alt: desktop_image.alt, max_width: 100 %}
      </div>
      <div class="promo-banner__image promo-banner__image--mobile">
        {% render 'animate-image', image: mobile_image, border_radius: 0, aspect_ratio: aspect_ratio_mobile, alt: mobile_image.alt, max_width: 100 %}
      </div>
    </a>
    <div
      class="promo-banner__wrapper{% if placement %} promo-banner__wrapper--{{ placement }}{% endif %}{% if alignment %} promo-banner__wrapper--{{ alignment }}{% endif %}{% if space_between %} promo-banner__wrapper--modifier{% endif %}"
    >
      <div class="promo-banner__text">
        {% if sub_title != blank %}
          <xo-animate xo-cascade>
            <div class="promo-banner__sub-title">{{ sub_title }}</div>
          </xo-animate>
        {% endif %}
        {% if label != blank %}
          <xo-animate xo-cascade>
            <span class="promo-banner__label">{{ label }}</span>
          </xo-animate>
        {% endif %}
        {% if discount_value != blank %}
          <xo-animate xo-cascade>
            <h3 class="promo-banner__discount-value h1">{{ discount_value }}</h3>
          </xo-animate>
        {% endif %}
      </div>
      <xo-animate xo-cascade>
        <div class="promo-banner__button">
          {% render 'button',
            text: button.button_text,
            link: button.button_link,
            style: button.button_style,
            size: button.button_size,
            radius: settings.button_radius,
            padding: settings.button_padding
          %}
        </div>
      </xo-animate>
    </div>
  </div>
</div>
