{% comment %}
  Renders a page heading.

  Accepts:
  - heading: {String} heading of the page (optional)
  - description: {String} Description of the page (optional)
  - align: {String} Alignment of the page heading (optional)
  - heading_tag: {String} Heading tag (required)

  Usage:
  {% render 'section-heading', heading: section_heading, description: section_description, align: section_align, heading_tag: heading_tag %}
{% endcomment %}

{% if heading != blank or description != blank %}
  <div class="xo-section-heading{% if align  %} xo-section-heading--{{ align }}{% endif %}">
    {% if heading != blank %}
      <{{ heading_tag }} class="xo-section-heading__heading">
        {{ heading }}
      </{{ heading_tag }}>
    {% endif %}
    {% if description != blank %}
      <div class="xo-section-heading__description">{{ description }}</div>
    {% endif %}
  </div>
{% endif %}
