{% comment %}
    Renders a service block

    Accepts:
    - image: {String} Image (required)
    - image_size: {String} Image size (required)
    - heading: {String} Heading (required)
    - content: {String} Content (required)
    - alignment: {String} Alignment (required)
    - color_schema_box: {String} Color schema (required)
    - inherit_color_schema: {Boolean} Inherit color schema (required)

    Usage:
  {% render 'service-block', image: image, image_size: image_size, heading: heading, content: content, alignment: alignment, color_schema_box: color_schema_box, inherit_color_schema: inherit_color_schema %}
{% endcomment %}

{% liquid
  assign container_class = 'service-block'
  if settings.enable_border_radius
    assign container_class = container_class | append: ' service-block--radius'
  endif
  if inherit_color_schema == false
    assign container_class = container_class | append: ' color-' | append: color_schema_box
  else
    assign container_class = container_class | append: ' service-block--inherit-color-schema'
  endif

  assign wrapper_class = 'service-block__wrapper'
  if alignment
    assign wrapper_class = wrapper_class | append: ' service-block__wrapper--' | append: alignment
  endif

  assign image_class = 'service-block__image'
  if image_size
    assign image_class = image_class | append: ' service-block__image--' | append: image_size
  endif
  if color_config_enable
    assign image_class = image_class | append: ' service-block__image--modifier'
  endif
%}

<xo-animate xo-cascade class="{{ container_class }}">
  <div class="{{ wrapper_class }}">
    {% if heading_link != blank %}
      <a href="{{ heading_link }}" class="service-block__link">
        <div class="{{ image_class }}">
          {% render 'image', image: image %}
        </div>
      </a>
    {% else %}
      <div class="{{ image_class }}">
        {% render 'image', image: image %}
      </div>
    {% endif %}
    {% if heading %}
      {% if heading_link != blank %}
        <a href="{{ heading_link }}" class="service-block__link">
          <h3 class="service-block__heading">{{ heading }}</h3>
        </a>
      {% else %}
        <h3 class="service-block__heading">{{ heading }}</h3>
      {% endif %}
    {% endif %}
    {% if content != blank %}
      <div class="service-block__content">{{ content }}</div>
    {% endif %}
  </div>
</xo-animate>
