{{ 'bundle-combo.css' | asset_url | stylesheet_tag }}

{% liquid
  assign collection_list = section.settings.collection_list
  assign heading = section.settings.text_heading
  assign description = section.settings.description
  assign inherit_color_scheme = section.settings.inherit_color_scheme
  if inherit_color_scheme == false
    assign content_color_scheme = section.settings.content_color_scheme
  endif
  assign button = section.settings
  assign blocks = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class="bundle-combo-promotion">
    {% render 'section-bg-image' %}
    <xo-container class="bundle-combo-promotion__container">
      <div class="bundle-combo-promotion__content">
        {% render 'bundle-combo',
          collection_list: collection_list,
          heading: heading,
          description: description,
          content_color_scheme: content_color_scheme,
          button: button,
          blocks: blocks
        %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.bundle_combo_promotion.name",
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:sections.bundle_combo_promotion.settings.collection_list.label"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Bundle combo promotion"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 100
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.bundle_combo_promotion.settings.description.label",
      "default": "<p>Use this text to share information about your brand with your customers</p>"
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "select",
      "id": "product_card_aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "auto",
          "label": "Adapt to image"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        }
      ],
      "default": "1"
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "t:sections.bundle_combo_promotion.settings.header_content.content"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:sections.bundle_combo_promotion.settings.inherit_color_scheme.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "content_color_scheme",
      "label": "t:sections.bundle_combo_promotion.settings.color_scheme.label",
      "visible_if": "{{ section.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:sections.bundle_combo_promotion.settings.header_general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "video",
      "id": "background_video_desktop",
      "label": "Background video desktop",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "video",
      "id": "background_video_mobile",
      "label": "Background video mobile",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background image desktop",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image mobile",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "Use parallax",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.bundle_combo_promotion.blocks.name",
      "type": "discount-item",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.bundle_combo_promotion.blocks.settings.label.label",
          "default": "-10%"
        },
        {
          "type": "number",
          "id": "min_quantity",
          "label": "t:sections.bundle_combo_promotion.blocks.settings.min_quantity.label",
          "info": "t:sections.bundle_combo_promotion.blocks.settings.min_quantity.info",
          "default": 1
        },
        {
          "type": "number",
          "id": "discount_value",
          "label": "t:sections.bundle_combo_promotion.blocks.settings.discount_value.label",
          "default": 10
        },
        {
          "type": "select",
          "id": "discount_type",
          "label": "t:sections.bundle_combo_promotion.blocks.settings.discount_type.label",
          "default": "percentage",
          "options": [
            {
              "value": "percentage",
              "label": "t:sections.bundle_combo_promotion.blocks.settings.discount_type.option_1.label"
            },
            {
              "value": "fixed-amount",
              "label": "t:sections.bundle_combo_promotion.blocks.settings.discount_type.option_2.label"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.bundle_combo_promotion.presets.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  }
}
{% endschema %}