{{ 'featured-product-2.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product-style-2.css' | asset_url | stylesheet_tag }}

{% liquid
  assign heading = section.settings.text_heading
  assign sub_content = section.settings.sub_content
  assign content = section.settings.content
  assign product = section.settings.product
  assign color_scheme_box = section.settings.color_scheme_box
%}

<section {% render 'section-attr' %}>
  <div class="featured-product-style-2 h-full">
    {% render 'section-bg-image' %}
    <xo-container class="featured-product-style-2__container h-full">
      <div class="featured-product-style-2__content h-full">
        {% render 'featured-product-2', heading: heading, sub_content: sub_content, content: content, product: product, color_schema: color_scheme_box %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.featured_product_style_2.name",
  "class": "section-featured-product-style-2",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Single product"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 100
    },
    {
      "type": "richtext",
      "id": "sub_content",
      "label": "Sub content",
      "default": "<p>Sub content</p>"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Content</p>"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "info": "Select a product to feature in this section."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_box",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "video",
      "id": "background_video_desktop",
      "label": "Background video desktop",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "video",
      "id": "background_video_mobile",
      "label": "Background video mobile",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background image desktop",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image mobile",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "Use parallax",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_product_style_2.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  }
}
{% endschema %}