{% liquid
  assign layout = section.settings.layout
  assign heading = section.settings.text_heading
  assign description = section.settings.description
  assign small_image = section.settings.small_image
  assign large_image = section.settings.large_image
  assign aspect_ratio_small = section.settings.aspect_ratio_small
  assign aspect_ratio_small_width = section.settings.aspect_ratio_small_width
  assign aspect_ratio_small_height = section.settings.aspect_ratio_small_height
  assign aspect_ratio_large = section.settings.aspect_ratio_large
  assign aspect_ratio_large_width = section.settings.aspect_ratio_large_width
  assign aspect_ratio_large_height = section.settings.aspect_ratio_large_height
  assign blocks = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class="image-with-text-style-1">
    {% render 'img-with-text-1',
      layout: layout,
      heading: heading,
      description: description,
      small_image: small_image,
      large_image: large_image,
      aspect_ratio_small: aspect_ratio_small,
      aspect_ratio_small_width: aspect_ratio_small_width,
      aspect_ratio_small_height: aspect_ratio_small_height,
      aspect_ratio_large: aspect_ratio_large,
      aspect_ratio_large_width: aspect_ratio_large_width,
      aspect_ratio_large_height: aspect_ratio_large_height,
      blocks: blocks
    %}
  </div>
</section>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.image_with_text_style_1.name",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.image_with_text_style_1.settings.layout.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.image_with_text_style_1.settings.layout.option_1.label"
        },
        {
          "value": "reverse",
          "label": "t:sections.image_with_text_style_1.settings.layout.option_2.label"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Image with text"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 100
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.image_with_text_style_1.settings.description.label",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_1.settings.header_small_image.content"
    },
    {
      "type": "image_picker",
      "id": "small_image",
      "label": "t:sections.image_with_text_style_1.settings.image.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_small",
      "label": "Aspect ratio",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ]
    },
    {
      "type": "number",
      "id": "aspect_ratio_small_width",
      "label": "Width",
      "default": 400,
      "visible_if": "{{ section.settings.aspect_ratio_small == 'custom' }}"
    },
    {
      "type": "number",
      "id": "aspect_ratio_small_height",
      "label": "Height",
      "default": 300,
      "visible_if": "{{ section.settings.aspect_ratio_small == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_1.settings.header_large_image.content"
    },
    {
      "type": "image_picker",
      "id": "large_image",
      "label": "t:sections.image_with_text_style_1.settings.image.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio_large",
      "label": "Aspect ratio",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "2/3",
          "label": "2:3"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "1",
          "label": "1:1"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ]
    },
    {
      "type": "number",
      "id": "aspect_ratio_large_width",
      "label": "Width",
      "default": 400,
      "visible_if": "{{ section.settings.aspect_ratio_large == 'custom' }}"
    },
    {
      "type": "number",
      "id": "aspect_ratio_large_height",
      "label": "Height",
      "default": 300,
      "visible_if": "{{ section.settings.aspect_ratio_large == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_1.settings.header_general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.image_with_text_style_1.blocks.name",
      "type": "image",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image_with_text_style_1.blocks.settings.image.label"
        },
        {
          "type": "header",
          "content": "t:sections.image_with_text_style_1.blocks.settings.header_size.content"
        },
        {
          "type": "select",
          "id": "device_size",
          "label": "t:sections.image_with_text_style_1.blocks.settings.device.label",
          "default": "desktop",
          "options": [
            {
              "value": "desktop",
              "label": "t:sections.image_with_text_style_1.blocks.settings.device.option_1.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.image_with_text_style_1.blocks.settings.device.option_2.label"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "inherit_desktop_value_size",
          "label": "t:sections.image_with_text_style_1.blocks.settings.inherit_desktop_value.label",
          "default": true,
          "visible_if": "{{ block.settings.device_size == 'mobile' }}"
        },
        {
          "type": "number",
          "id": "width_dt",
          "label": "t:sections.image_with_text_style_1.blocks.settings.width.label",
          "default": 100,
          "visible_if": "{{ block.settings.device_size == 'desktop' }}"
        },
        {
          "type": "number",
          "id": "width_mb",
          "label": "t:sections.image_with_text_style_1.blocks.settings.width.label",
          "default": 100,
          "visible_if": "{{ block.settings.device_size == 'mobile' and block.settings.inherit_desktop_value_size == false }}"
        },
        {
          "type": "number",
          "id": "height_dt",
          "label": "t:sections.image_with_text_style_1.blocks.settings.height.label",
          "default": 100,
          "visible_if": "{{ block.settings.device_size == 'desktop' }}"
        },
        {
          "type": "number",
          "id": "height_mb",
          "label": "t:sections.image_with_text_style_1.blocks.settings.height.label",
          "default": 100,
          "visible_if": "{{ block.settings.device_size == 'mobile' and block.settings.inherit_desktop_value_size == false }}"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text_style_1.presets.name",
      "blocks": {
        "image_watagQ": {
          "type": "image",
          "settings": {
            "device_size": "desktop",
            "inherit_desktop_value_size": false,
            "width_dt": 90,
            "width_mb": 60,
            "height_dt": 115,
            "height_mb": 85
          }
        },
        "image_NgBbmr": {
          "type": "image",
          "settings": {
            "device_size": "desktop",
            "inherit_desktop_value_size": false,
            "width_dt": 229,
            "width_mb": 141,
            "height_dt": 214,
            "height_mb": 148
          }
        }
      },
      "block_order": [
        "image_watagQ",
        "image_NgBbmr"
      ],
      "settings": {
        "layout": "default",
        "text_tag_name": "h2",
        "text_heading": "Image with text",
        "font_size_heading": "h5",
        "text_duration": 1000,
        "text_effect": "split",
        "text_heading_width_desktop": 100,
        "text_heading_width_mobile": 100,
        "description": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
        "aspect_ratio_small": "custom",
        "aspect_ratio_small_width": 377,
        "aspect_ratio_small_height": 386,
        "aspect_ratio_large": "1",
        "aspect_ratio_large_width": 400,
        "aspect_ratio_large_height": 300,
        "color_scheme": "",
        "background_color": "#ffffff",
        "background_gradient": "",
        "padding_top_desktop": 0,
        "padding_bottom_desktop": 0,
        "padding_top_mobile": 0,
        "padding_bottom_mobile": 0
      }
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  }
}
{% endschema %}