{{ 'section-image-with-text-style-10.css' | asset_url | stylesheet_tag }}
{{ 'img-with-text-10.css' | asset_url | stylesheet_tag }}
{{ 'video-button.css' | asset_url | stylesheet_tag }}

{% liquid
  assign content = section.settings.content
  assign desktop_image = section.settings.desktop_image
  assign mobile_image = section.settings.mobile_image
  assign desktop_video = section.settings.desktop_video
  assign mobile_video = section.settings.mobile_video
%}

<section {% render 'section-attr' %}>
  <div class="xo-image-with-text-style-10">
    {% render 'section-bg-image' %}
    <xo-container class="xo-image-with-text-style-10__container">
      <div class="xo-image-with-text-style-10__content">
        {% render 'img-with-text-10', content: content, desktop_image: desktop_image, mobile_image: mobile_image, desktop_video: desktop_video, mobile_video: mobile_video %}
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image_with_text_style_10.name",
  "class": "section-image-with-text-style-10",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "t:sections.image_with_text_style_10.settings.content.label",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_10.settings.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.image_with_text_style_10.settings.desktop_image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.image_with_text_style_10.settings.mobile_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text_style_10.settings.header_video.content"
    },
    {
      "type": "video",
      "id": "desktop_video",
      "label": "t:sections.image_with_text_style_10.settings.desktop_video.label"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "t:sections.image_with_text_style_10.settings.mobile_video.label"
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "video",
      "id": "background_video_desktop",
      "label": "Background video desktop",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "video",
      "id": "background_video_mobile",
      "label": "Background video mobile",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background image desktop",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image mobile",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "Use parallax",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.image_with_text_style_10.presets.name",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}