{{ 'section-main-404.css' | asset_url | stylesheet_tag }}

{% liquid
  assign heading = section.settings.heading
  assign class = section.settings.font_size_heading
  assign sub_heading = section.settings.sub_heading
  assign content = section.settings.content
  assign button = section.settings
%}

<section {% render 'section-attr' %}>
  <div class='xo-404-page'>
    <xo-container class='xo-404-page__container'>
      <div class='xo-404-page__body'>
        {% if heading %}
          <xo-animate xo-cascade>
            <h2 class='xo-404-page__heading {{ class }}'>{{ heading }}</h2>
          </xo-animate>
        {% endif %}
        {% if sub_heading %}
          <xo-animate xo-cascade>
            <div class='xo-404-page__sub-heading h5'>
              {{ sub_heading }}
            </div>
          </xo-animate>
        {% endif %}
        {% if content %}
          <xo-animate xo-cascade>
            <div class='xo-404-page__content'>
              {{ content }}
            </div>
          </xo-animate>
        {% endif %}
        <xo-animate xo-cascade>
          <div class='xo-404-page__button'>
            {% render 'button',
              text: button.button_text,
              link: button.button_link,
              style: button.button_style,
              size: button.button_size,
              radius: settings.button_radius,
              padding: settings.button_padding
            %}
          </div>
        </xo-animate>
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_404.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_404.settings.header_text.content"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.main_404.settings.heading.label"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.main_404.settings.sub_heading.label"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:sections.main_404.settings.content.label"
    },
    {
      "type": "header",
      "content": "t:sections.main_404.settings.header_button.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button size",
      "options": [
        {
          "value": "xs",
          "label": "Extra small"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "md"
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": []
}
{% endschema %}