{{ 'section-multi-column-style-1.css' | asset_url | stylesheet_tag }}
{{ 'multi-column-1.css' | asset_url | stylesheet_tag }}

{% liquid
  assign layout = section.settings.layout
  assign class = section.settings.font_size_heading
  assign heading = section.settings.text_heading
  assign duration = section.settings.text_duration
  assign effect = section.settings.text_effect
  assign tag_name = section.settings.text_tag_name
  assign heading_width_desktop = section.settings.text_heading_width_desktop
  assign heading_width_mobile = section.settings.text_heading_width_mobile
  assign layout = section.settings.layout
  assign column = section.settings.column
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class="multi-column-style-1{% if layout == 'style-2' %} multi-column-style-1--change{% endif %}">
    <div class="multi-column-style-1__content">
      <xo-container class="multi-column-style-1__container">
        {% render 'multi-column-1', class: class, heading: heading, layout: layout, column: column, block: block %}
      </xo-container>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.multi_column_style_1.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.multi_column_style_1.settings.layout.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.multi_column_style_1.settings.layout.option__1.label"
        },
        {
          "value": "style-2",
          "label": "t:sections.multi_column_style_1.settings.layout.option__2.label"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "column",
      "label": "t:sections.multi_column_style_1.settings.column.label",
      "options": [
        {
          "value": "3",
          "label": "t:sections.multi_column_style_1.settings.column.option__1.label"
        },
        {
          "value": "4",
          "label": "t:sections.multi_column_style_1.settings.column.option__2.label"
        }
      ],
      "default": "3"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "Tag name",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "Text",
      "default": "Hover image columns"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "Font size heading",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "Extra extra large"
        },
        {
          "value": "h2",
          "label": "Extra large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "Extra small"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Line height",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "default": 1.2
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "Effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "reveal",
          "label": "Blur"
        },
        {
          "value": "split",
          "label": "Split"
        }
      ],
      "default": "split"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "Duration (milliseconds)",
      "default": 1000
    },
    {
      "type": "range",
      "id": "text_heading_width_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Desktop heading width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Mobile heading width",
      "default": 100
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.multi_column_style_1.blocks.name",
      "type": "column",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.multi_column_style_1.blocks.settings.header_image.content"
        },
        {
          "type": "image_picker",
          "id": "image_first",
          "label": "t:sections.multi_column_style_1.blocks.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_first_on_dark_mode",
          "label": "t:sections.multi_column_style_1.blocks.settings.image_dark_mode.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio_first",
          "label": "Aspect ratio",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "3/2",
              "label": "3:2"
            },
            {
              "value": "1",
              "label": "1:1"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "21/9",
              "label": "21:9"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.multi_column_style_1.blocks.settings.header_hover.content"
        },
        {
          "type": "select",
          "id": "hover_type",
          "label": "t:sections.multi_column_style_1.blocks.settings.hover_type.label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.multi_column_style_1.blocks.settings.hover_type.option__1.label"
            },
            {
              "value": "video",
              "label": "t:sections.multi_column_style_1.blocks.settings.hover_type.option__2.label"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "image_second",
          "label": "t:sections.multi_column_style_1.blocks.settings.image.label",
          "visible_if": "{{ block.settings.hover_type == 'image' }}"
        },
        {
          "type": "image_picker",
          "id": "image_second_on_dark_mode",
          "label": "t:sections.multi_column_style_1.blocks.settings.image_dark_mode.label",
          "visible_if": "{{ block.settings.hover_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.multi_column_style_1.blocks.settings.video.label",
          "visible_if": "{{ block.settings.hover_type == 'video' }}"
        },
        {
          "type": "select",
          "id": "aspect_ratio_second",
          "label": "Aspect ratio",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "Auto"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "3/2",
              "label": "3:2"
            },
            {
              "value": "1",
              "label": "1:1"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "21/9",
              "label": "21:9"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.multi_column_style_1.blocks.settings.header_advanced.content"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.multi_column_style_1.blocks.settings.title.label",
          "default": "<p>Heading</p>"
        },
        {
          "type": "select",
          "id": "enable_overlay",
          "label": "t:sections.multi_column_style_1.blocks.settings.enable_overlay.label",
          "options": [
            {
              "value": "off",
              "label": "t:sections.multi_column_style_1.blocks.settings.enable_overlay.option__1.label"
            },
            {
              "value": "on",
              "label": "t:sections.multi_column_style_1.blocks.settings.enable_overlay.option__2.label"
            }
          ],
          "default": "off"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi_column_style_1.presets.name",
      "settings": {
        "font_size_heading": "h5",
        "text_heading": "Hover image columns",
        "text_duration": 75,
        "text_effect": "split",
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "column",
          "settings": {
            "image_first": "",
            "aspect_ratio_first": "auto",
            "image_second": "",
            "aspect_ratio_second": "auto",
            "title": "<p>Heading</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "image_first": "",
            "aspect_ratio_first": "auto",
            "image_second": "",
            "aspect_ratio_second": "auto",
            "title": "<p>Heading</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "image_first": "",
            "aspect_ratio_first": "auto",
            "image_second": "",
            "aspect_ratio_second": "auto",
            "title": "<p>Heading</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}