{{ 'section-product-specification-style-11.css' | asset_url | stylesheet_tag }}
{{ 'product-specification-11.css' | asset_url | stylesheet_tag }}
{{ 'chart-1.css' | asset_url | stylesheet_tag }}
{{ 'collection-image.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-11'>
    {% render 'section-bg-image' %}
    <div class='product-specification-style-11__container'>
      <div class='product-specification-style-11__content'>
        {% render 'product-specification-11', block: section.blocks %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_11.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups",
      "custom.features"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "video",
      "id": "background_video_desktop",
      "label": "Background video desktop",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "video",
      "id": "background_video_mobile",
      "label": "Background video mobile",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background image desktop",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image mobile",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "Use parallax",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_11.blocks.name_1",
      "type": "chart",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product_specification_style_11.blocks.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_11.blocks.settings.specifications.content"
        },
        {
          "type": "number",
          "id": "value_max",
          "label": "t:sections.product_specification_style_11.blocks.settings.value_max.label",
          "info": "t:sections.product_specification_style_11.blocks.settings.value_max.info",
          "default": 60
        },
        {
          "type": "textarea",
          "id": "x_label",
          "label": "t:sections.product_specification_style_11.blocks.settings.x_label.label",
          "default": "0\n1h\n6h\n14h\n20h\n24h"
        },
        {
          "type": "textarea",
          "id": "y_label",
          "label": "t:sections.product_specification_style_11.blocks.settings.y_label.label",
          "default": "60\n40\n20\n0"
        },
        {
          "type": "textarea",
          "id": "dataset",
          "label": "t:sections.product_specification_style_11.blocks.settings.dataset.label",
          "default": "0,20,39,40,30,42\n0,30,40,5,10,32"
        },
        {
          "type": "textarea",
          "id": "list_information",
          "label": "t:sections.product_specification_style_11.blocks.settings.information.label",
          "default": "Heading - 50\nHeading - 50"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_11.blocks.name_2",
      "type": "product",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.product_specification_style_11.blocks.settings.product.label"
        },
        {
          "type": "header",
          "content": "Product card"
        },
        {
          "type": "select",
          "id": "product_card_aspect_ratio",
          "label": "Aspect ratio",
          "options": [
            {
              "value": "auto",
              "label": "Adapt to image"
            },
            {
              "value": "2/3",
              "label": "2:3"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "3/2",
              "label": "3:2"
            },
            {
              "value": "1",
              "label": "1:1"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            },
            {
              "value": "21/9",
              "label": "21:9"
            }
          ],
          "default": "1"
        },
        {
          "type": "color_scheme",
          "id": "card_color_scheme",
          "label": "Color scheme"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_11.blocks.name_3",
      "type": "collection",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.product_specification_style_11.blocks.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.product_specification_style_11.blocks.settings.image_desktop.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.product_specification_style_11.blocks.settings.image_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_11.blocks.settings.header_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button size",
          "options": [
            {
              "value": "xs",
              "label": "Extra small"
            },
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_11.presets.name",
      "settings": {
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      },
      "blocks": [
        {
          "type": "chart",
          "settings": {
            "title": "PERFOMANCE",
            "value_max": 60,
            "x_label": "0\n1h\n6h\n14h\n20h\n24h",
            "y_label": "60\n40\n20\n0",
            "dataset": "0,20,39,40,30,42\n0,30,40,5,10,32",
            "list_information": "Heading - 50\nHeading - 50"
          }
        },
        {
          "type": "product",
          "settings": {
            "product": "",
            "product_card_aspect_ratio": "1",
            "card_color_scheme": ""
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": "",
            "image_dt": "",
            "image_mb": "",
            "button_text": "Explore more",
            "button_link": "shopify://collections/all",
            "button_style": "primary",
            "button_size": "sm"
          }
        }
      ]
    }
  ]
}
{% endschema %}